@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;600;700&display=swap");

.login-form {
  font-family: "Lato", sans-serif;
  padding: 20px;
  min-width: 384px;
  background-color: #95e282;
}

.login-form h3 {
  color: #fff;
}

#loginBtn {
  color: #fff;
  min-width: 297px;
  min-height: 49px;
  background-color: #8eadf4;
}

.login-div {
  margin-top: 19px;
  margin-bottom: 26px;
}

/* Utilities */
.show-border {
  border: 1px solid yellow;
}
